body {
  background-color: black;
}
summary {
  display: flex;
  align-items: center;
}

summary::marker {
  display: none;
}

summary::before {
  content: "01";
  font-weight: bold;
  margin-right: 8px;
}

details[open] summary::before {
  content: "01";
}
details {
  color: rgb(165, 66, 66);
  transition-duration: 250ms;
}
.con {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition-duration: 250ms;
}
